# IDE and Project
*.iml
.gradle
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Local configuration
local.properties
local.properties.example

# Firebase
app/google-services.json
app/src/debug/google-services.json
app/src/staging/google-services.json
app/src/release/google-services.json

# Keys and Secrets
serviceAccountKey.json
backend/serviceAccountKey.json

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Android Specific
*.apk
*.aar
*.jks
*.keystore
